.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App>*{
  margin: 5px;
}

.input_basic,.input_ot{
  width: 15%;
  height: 2rem;
  padding: 10px;
  border-radius: 5px;
}

input[type=number] {
  -moz-appearance: textfield;
  font-size: large;
}

.btn_cal{
  width: 15%;
  height: 2rem;
  padding: 10px;
  border-radius: 5px;
  background-color: lightblue;
  color: black;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_cal:hover{
  width: 16%;
  height: 2.3rem;
  background-color: greenyellow;
}

.title{
 padding: 25px;
}


tbody,th {
  background-color: white;
  color: black;
  text-align: left;
}

tbody tr:nth-child(even) th {
  background-color: #25c;
}