.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App>*{
  margin: 5px;
}

.input_basic,.input_ot,.total_salary{
  width: 15%;
  height: 2rem;
  padding: 10px;
  border-radius: 5px;
  font-size: large;
}

input[type=number] {
  -moz-appearance: textfield;
}

.btn_cal{
  width: 15%;
  height: 2rem;
  padding: 10px;
  border-radius: 5px;
  background-color: lightblue;
  color: black;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_cal:hover{
  width: 16%;
  height: 2.3rem;
  background-color: greenyellow;
}

.title{
 padding: 25px;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-top: 2px solid #009879;
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
.title-table{
  text-align: center;
  padding: 2px;
  font-weight: bold;
}

.info{
  width: 50%;
  padding: 20px;
  font-size: small;
  font-weight: bold;
}